:root {
  --foreground: #000;
  --foreground-light: #888;
  --background: #EEE;
}
body {
  margin: 0px auto;
  max-width: 600px;
  min-width: 400px;
  text-align: left;
}
header {
  text-align: center;
}
nav {
  text-align: center;
  font-size: 1.2em;
}
h1, h2, h3 { font-weight: normal; }
h1 { font-size: 1.5em; }
video { margin-left: auto; margin-right: auto; display: block; }
sup.latex { vertical-align: text-top; font-size: 0.7em; }
sub.latex { vertical-align: text-bottom; font-size: 0.7em; }
div.banner {
  text-align: center;
}
span.boerseth {
  font-size: 1.8em;
}
.spreadbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
div.spacer {
  padding-top: 1em;
  padding-bottom: 1em;
  /*
  margin-top: 1em;
  margin-bottom: 1em;*/
}
div.centered {
  text-align: center;
}
pre.logo {
  font-size: 0.5em;
  font-weight: bold;
}
hr {
  border: 0px; 
  background-color: var(--foreground);
  margin-top: 3px;
  margin-bottom: 3px;
}
hr.fat { height: 2px; }
hr.thin { height: 1px; }
hr {
}
.bannerlink {
  text-decoration: none; color: var(--foreground);
}
div.sourceCode {
  padding: 0.5em;
  background-color: #EEE;
}
